---
---

<p>
  I spend a majority of my time working on backend development, but I also enjoy
  dabbling in frontend development and design on the side. I find myself drawn
  to the minimalist design approach and aim to implement this style into my
  work.
</p>
