---
---

<section
  class="section-container m-auto flex flex-col justify-center items-center py-12 border-t-2"
>
  <div class="section-title">ABOUT</div>
  <div class="flex">
    <div class="w-1/2 relative flex justify-center items-center">
      <img
        src="../profilepic.png"
        alt="profile pic"
        width="220"
        class="shadow-imgShadowDark"
      />
    </div>
    <div class="w-1/2">
      <p>
        I transitioned to software engineering after working in the industrial
        automation industry for several years as a mechanical engineering
        graduate. I leveraged my engineering experience to land my first job as
        a software engineer and quickly became a valuable asset to the team. My
        focus has been on building scalable applications and writing
        maintainable code with design patterns and best practices.

        <br />
        <br />
        I have a talent for breaking down complex technical concepts into understandable
        terms, making it easy for non-technical stakeholders to understand the work
        I am doing. Collaboration is one of my strengths, and I am an excellent team
        player.
      </p>
    </div>
  </div>
</section>
