---
import Card from "./Card.astro";
---

<section class="section-container m-auto flex justify-center items-center">
  <h1 class="section-title">Selected Works</h1>
  <Card title="title" body="" href="https://hr.adnexio.jobs" />
</section>
