---
---

<footer class="bg-dark text-light py-12 px-20">
  <div class="flex gap-20">
    <h3 class="text-2xl font-title inline">GET IN TOUCH</h3>
    <ul class="inline">
      <li>
        <a href="mailto:junyang.chin@outlook.com" target="_blank"
          >junyang.chin@outlook.com</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/junyangchin/" target="_blank"
          >LinkedIn</a
        >
      </li>
      <li>
        <a href="https://www.github.com/junyang-chin" target="_blank">Github</a>
      </li>
    </ul>
  </div>
</footer>
