---
---

<footer class="bg-dark text-light py-12">
  <div class="section-container m-auto flex gap-x-20 gap-y-6 flex-wrap">
    <h3 class="text-2xl font-title">GET IN TOUCH</h3>
    <ul class="">
      <li>
        <a href="mailto:junyang.chin@outlook.com" target="_blank"
          >junyang.chin@outlook.com</a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/in/junyangchin/" target="_blank"
          >LinkedIn</a
        >
      </li>
      <li>
        <a href="https://www.github.com/junyang-chin" target="_blank">Github</a>
      </li>
    </ul>
  </div>
</footer>
